@charset "utf-8";
body{
    background-color: rgb(241, 255, 159)
}
header{
    text-align: center;
    background: url("img/logoabastos.jpg") top left /210px no-repeat ,
      url("img/logoabastos.jpg") top right /210px no-repeat;
}
header p{
    font-size: 4rem;
}

table.menu {
    margin:auto;
    text-align: center;
    width: 50%;  

    font-size: 1.5rem;
}

table.menu td {

    background-color: rgb(167, 188, 255);
  }


table.menu td:hover {
    background-color: black;
  }
  a.menu:hover{
    color: white;
  }
  p.noticias{
      position: absolute;
      left: 30%;
      right: 30%;
      padding: 12px;
      text-align: justify;
      width: 40%;
      background-color: white;
      border-radius: 15%;

  }
  span{
      font-size: 2rem
  }
  img.taller{
      width: 300px;
      height: 300px;
  }

img.ubicacion{
    width: 250px;
    border: black 5px solid;
}

  footer{
      bottom: 0%;
      width: 100%;
      text-align: left;
  }
  footer p {
      text-align: center;
  }
  img.facebook{
    width: 25px;
  }
  img.twitter{
    width: 25px;
  }
  img.instagram{
      width: 25px;
  }